<div class="form-row" novalidate [formGroup]="form">
    <br>
    <div class="row">

        <div class="form-group col-md-12">
            <h3>Login</h3> <br>
            <input  formControlName="login" type="text" class="form-control" id="login"
                placeholder="Usuario" [ngClass]="{ 'is-invalid': submitted && hasError('login')}">
        </div>

        <div class="form-group col-md-12">
            <input formControlName="senha" type="password" class="form-control" id="senha" placeholder="Senha"
                [ngClass]="{ 'is-invalid': submitted && hasError('senha')}">

        </div>

        <button type="submit" class="btn btn-outline-primary" (click)="onSubmit()">Entrar</button>

        <a class="btn btn-primary" href="/nova-conta">Criar conta</a>
    </div>
</div>