<form class="form-row" novalidate [formGroup]="form">
    <div class="form-group col-md-3">
        <label>Alimentação</label>
        <input type="text" class="form-control" id="alimentacao" formControlName="alimentacao"
            [ngClass]="{ 'is-invalid': submitted && hasError('alimentacao')}">
    </div>

    <div class="form-group col-md-3">
        <label>Caracteristica</label>
        <input type="text" class="form-control" id="caracteristica" formControlName="caracteristica"
            [ngClass]="{ 'is-invalid': submitted && hasError('caracteristica')}">
    </div>

    <div class="form-group col-md-3">
        <label>Categoria Venda</label>
        <input type="text" class="form-control" id="categoria_venda" formControlName="categoria_venda"
            [ngClass]="{ 'is-invalid': submitted && hasError('categoria_venda')}">
    </div>

    <div class="form-group col-md-3">
        <label>Certificado</label>
        <input type="text" class="form-control" id="certificado" formControlName="certificado"
            [ngClass]="{ 'is-invalid': submitted && hasError('certificado')}">
    </div>

    <div class="form-group col-md-6">
        <label>Descricao Completa</label>
        <textarea row="3" type="text" class="form-control" id="descricao_completa" formControlName="descricao_completa"
            [ngClass]="{ 'is-invalid': submitted && hasError('descricao_completa')}"></textarea>
    </div>

    <div class="form-group col-md-6">
        <label>Descricao Reduzida</label>
        <textarea row="3" type="text" class="form-control" id="descricao_reduzida" formControlName="descricao_reduzida"
            [ngClass]="{ 'is-invalid': submitted && hasError('descricao_reduzida')}"></textarea>
    </div>

    <div class="form-group col-md-3">
        <label>Fabricante</label>
        <input type="text" class="form-control" id="fabricante" formControlName="fabricante"
            [ngClass]="{ 'is-invalid': submitted && hasError('fabricante')}">
    </div>

    <div class="form-group col-md-3">
        <label>Codigo Pedido</label>
        <input type="text" class="form-control" id="codigo_pedido" formControlName="codigo_pedido"
            [ngClass]="{ 'is-invalid': submitted && hasError('codigo_pedido')}">
    </div>

    <div class="form-group col-md-3">
        <label>Funcao</label>
        <input type="text" id="funcao" class="form-control" formControlName="funcao"
            [ngClass]="{ 'is-invalid': submitted && hasError('funcao')}">
    </div>

    <div class="form-group col-md-3">
        <label>Modelo</label>
        <input type="text" id="modelo" class="form-control" formControlName="modelo"
            [ngClass]="{ 'is-invalid': submitted && hasError('modelo')}">
    </div>

    <div class="form-group col-md-3">
        <label>Montagem</label>
        <input type="text" id="montagem" formControlName="montagem" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && hasError('montagem')}">
    </div>

    <div class="form-group col-md-3">
        <label>Status</label>
        <input type="text" id="status" class="form-control" formControlName="status"
            [ngClass]="{ 'is-invalid': submitted && hasError('status')}">
    </div>

    <div class="form-group col-md-3">
        <label>tag</label>
        <input type="text" id="tag" class="form-control" formControlName="tag"
            [ngClass]="{ 'is-invalid': submitted && hasError('tag')}">
    </div>

    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
        <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
    </div>
</form>